Repository Juleanna/SaaS: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations

django-check:
  name: Django system check
  entry: bash -c 'cd backend && source venv/bin/activate && python manage.py check'
  language: system
  pass_filenames: false

django-check-migrations:
  name: Check for missing migrations
  entry: bash -c 'cd backend && source venv/bin/activate && python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

Обнова
  .claude/settings.local.json
  DOCKER_GUIDE.md
  SETUP_WINDOWS.md
  backend/.dockerignore
  frontend-vite/.dockerignore
  frontend-vite/Dockerfile
  frontend-vite/nginx.conf
Due: none

Обнова
  .claude/settings.local.json
  backend/core/__pycache__/urls.cpython-313.pyc
  backend/core/migrations/0002_planfeature_subscriptionplan_usersubscription_and_more.py
  backend/core/migrations/0003_seed_subscription_plans.py
  backend/core/subscription_urls.py
  backend/core/urls.py
  backend/orders/__pycache__/views.cpython-313.pyc
  backend/orders/views.py
  frontend-vite/src/App.jsx
  frontend-vite/src/components/Layout.jsx
  frontend-vite/src/index.css
  frontend-vite/src/pages/Profile.jsx
  frontend-vite/src/pages/SubscriptionsPage.jsx
  frontend-vite/src/pages/auth/Login.jsx
  frontend-vite/src/pages/auth/Register.jsx
  frontend-vite/src/stores/authStore.js
Due: django-check, django-check-migrations

Виправлення Docker, CORS, підписок та додано згортання сайдбару
  backend/core/settings.py
  backend/core/subscription_views.py
  backend/docker-entrypoint.sh
  docs/fop-business/01-реєстрація-фоп.md
  docs/fop-business/02-впровадження-платформи.md
  docs/fop-business/03-бізнес-модель.md
  docs/fop-business/04-чеклист-запуску.md
  docs/fop-business/05-правові-вимоги-україна.md
  docs/fop-business/06-договір-публічної-оферти.md
  docs/fop-business/07-політика-конфіденційності.md
  docs/fop-business/08-умови-повернення-коштів.md
  frontend-vite/src/components/Layout.jsx
  frontend-vite/src/pages/SubscriptionsPage.jsx
  frontend-vite/src/pages/auth/Login.jsx
Due: django-check

Виправлено подвійний /api/ префікс в URL фронтенду
  frontend-vite/src/components/CheckoutModal.jsx
  frontend-vite/src/components/PriceListItemsModal.jsx
  frontend-vite/src/components/ShoppingCart.jsx
  frontend-vite/src/pages/Orders.jsx
  frontend-vite/src/pages/Payments.jsx
  frontend-vite/src/pages/PriceLists.jsx
  frontend-vite/src/pages/ProductDetail.jsx
  frontend-vite/src/pages/Products.jsx
Due: none

Редизайн сторінки деталей магазину
  frontend-vite/src/pages/StoreDetails.jsx
Due: none

Редизайн картки магазину на сторінці списку
  frontend-vite/src/pages/Stores.jsx
Due: none

Виправлено права доступу до media директорії в Docker
  backend/Dockerfile
  backend/docker-entrypoint.sh
Due: none

Покращено відображення логотипу на картці магазину
  frontend-vite/src/pages/Stores.jsx
Due: none

Додано проксі /media через Vite для відображення зображень магазину
  frontend-vite/vite.config.ts
Due: none

Перевірка балансу при зміні плану та винесення підписки окремо в меню
  backend/core/subscription_views.py
  frontend-vite/src/components/Layout.jsx
  frontend-vite/src/pages/SubscriptionsPage.jsx
Due: django-check

Виправлено відображення помилки недостатнього балансу
  frontend-vite/src/pages/SubscriptionsPage.jsx
Due: none

Виправлено повідомлення для безкоштовного плану та оновлення UI після зміни тарифу
  frontend-vite/src/pages/SubscriptionsPage.jsx
Due: none

Виправлено оновлення UI після зміни тарифного плану
  frontend-vite/src/pages/SubscriptionsPage.jsx
Due: none

Виправлено порівняння поточного плану з обраним
  frontend-vite/src/pages/SubscriptionsPage.jsx
Due: none

Примусове перезавантаження сторінки після зміни тарифного плану
  frontend-vite/src/pages/SubscriptionsPage.jsx
Due: none

Редизайн сторінки категорій та зміна порядку в меню
  frontend-vite/src/components/Layout.jsx
  frontend-vite/src/pages/Categories.jsx
Due: none

Додано транслітерацію кирилиці в slug для категорій
  frontend-vite/src/components/CategoryModal.jsx
Due: none

Прибрано діагностичні console.log з Categories та CategoryModal
  frontend-vite/src/components/CategoryModal.jsx
  frontend-vite/src/pages/Categories.jsx
Due: none

Виправлено оновлення списку категорій після створення
  frontend-vite/src/pages/Categories.jsx
Due: none

Миттєве оновлення категорій після створення/редагування/видалення
  frontend-vite/src/pages/Categories.jsx
Due: none

Виправлення безпеки, очищення коду та уніфікація фронтенду
  backend/accounts/views.py
  backend/pricelists/models.py
  backend/stores/models.py
  frontend-vite/src/components/BarcodeScanner.jsx
  frontend-vite/src/components/CategoryModal.jsx
  frontend-vite/src/components/CheckoutModal.jsx
  frontend-vite/src/components/Navbar.jsx
  frontend-vite/src/components/PriceListItemsModal.jsx
  frontend-vite/src/components/PriceListModal.jsx
  frontend-vite/src/components/ProductModal.jsx
  frontend-vite/src/components/ShoppingCart.jsx
  frontend-vite/src/pages/Categories.jsx
  frontend-vite/src/pages/DashboardPage.jsx
  frontend-vite/src/pages/HomePage.jsx
  frontend-vite/src/pages/LoginPage.jsx
  frontend-vite/src/pages/NotificationsPage.jsx
  frontend-vite/src/pages/Orders.jsx
  frontend-vite/src/pages/OrdersPage.jsx
  frontend-vite/src/pages/Payments.jsx
  frontend-vite/src/pages/PriceLists.jsx
  frontend-vite/src/pages/ProductDetail.jsx
  frontend-vite/src/pages/Products.jsx
  frontend-vite/src/pages/ProductsPage.jsx
  frontend-vite/src/pages/Profile.jsx
  frontend-vite/src/pages/RegisterPage.jsx
  frontend-vite/src/pages/StoreDetails.jsx
  frontend-vite/src/pages/StoreLanding.jsx
  frontend-vite/src/pages/Stores.jsx
  frontend-vite/src/pages/SubscriptionsPage.jsx
  frontend-vite/src/pages/Warehouse/InventoryScanner.jsx
  frontend-vite/src/pages/dashboard/Dashboard.jsx
  frontend-vite/src/pages/public/PublicStore.jsx
  frontend-vite/src/pages/public/PublicStoresList.jsx
  frontend-vite/src/services/api.js
  frontend-vite/src/services/logger.js
  frontend-vite/src/stores/authStore.js
  frontend-vite/src/stores/warehouseStore.js
Due: django-check, django-check-migrations

Лендінг AITPoludsky, переписані категорії з нуля, модальні підтвердження, toast з кнопкою закриття
  backend/products/models.py
  backend/products/serializers.py
  backend/products/views.py
  docker-compose.yml
  frontend-vite/src/App.jsx
  frontend-vite/src/components/CategoryModal.jsx
  frontend-vite/src/components/ConfirmModal.jsx
  frontend-vite/src/components/PriceListItemsModal.jsx
  frontend-vite/src/components/ShoppingCart.jsx
  frontend-vite/src/main.jsx
  frontend-vite/src/pages/Categories.jsx
  frontend-vite/src/pages/InstagramPage.jsx
  frontend-vite/src/pages/PriceLists.jsx
  frontend-vite/src/pages/ProductDetail.jsx
  frontend-vite/src/pages/Products.jsx
  frontend-vite/src/pages/public/Landing.jsx
  frontend-vite/vite.config.ts
Due: django-check, django-check-migrations

Виправлення категорій, race condition міграцій, уніфікація UI
  backend/docker-entrypoint.sh
  docker-compose.yml
  frontend-vite/src/components/CategoryModal.jsx
  frontend-vite/src/pages/Categories.jsx
Due: none

Виправлено переключення тарифних планів
  backend/core/subscription_views.py
  frontend-vite/src/pages/SubscriptionsPage.jsx
Due: django-check

Зменшено модальне вікно додавання товару
  frontend-vite/src/components/ProductModal.jsx
Due: none

Виправлено синтаксичну помилку в ProductModal (зайвий </div>)
  frontend-vite/src/components/ProductModal.jsx
Due: none

Аудит проекту: безпека, продуктивність, інфраструктура
  backend/accounts/migrations/0004_user_email_unique.py
  backend/accounts/models.py
  backend/accounts/views.py
  backend/core/settings.py
  backend/core/subscription_views.py
  backend/docker-entrypoint.sh
  backend/orders/views.py
  backend/products/views.py
  docker-compose.prod.yml
  docker-compose.yml
  frontend-vite/package.json
  frontend-vite/src/components/CheckoutModal.jsx
  frontend-vite/src/components/ProductModal.jsx
  frontend-vite/src/components/ShoppingCart.jsx
  frontend-vite/src/pages/InstagramPage.jsx
  frontend-vite/src/pages/Orders.jsx
  frontend-vite/src/pages/Payments.jsx
  frontend-vite/src/pages/ProductDetail.jsx
  frontend-vite/src/pages/Products.jsx
  frontend-vite/src/pages/StoreDetails.jsx
  frontend-vite/src/pages/dashboard/Dashboard.jsx
  frontend-vite/src/services/sanitize.js
Due: django-check, django-check-migrations

Рефактор: httpOnly cookies JWT, react-query, zod, simpleeval
  backend/accounts/authentication.py
  backend/accounts/urls.py
  backend/accounts/views.py
  backend/core/settings.py
  backend/pricelists/models.py
  backend/requirements.txt
  frontend-vite/package.json
  frontend-vite/src/App.jsx
  frontend-vite/src/components/CategoryModal.jsx
  frontend-vite/src/components/Layout.jsx
  frontend-vite/src/hooks/useFormModal.js
  frontend-vite/src/pages/Categories.jsx
  frontend-vite/src/pages/Orders.jsx
  frontend-vite/src/pages/Products.jsx
  frontend-vite/src/pages/auth/Login.jsx
  frontend-vite/src/pages/auth/Register.jsx
  frontend-vite/src/schemas/index.js
  frontend-vite/src/services/api.js
  frontend-vite/src/stores/authStore.js
Due: django-check, django-check-migrations

Покращення: DevX, observability, SEO, промокоди, dark mode
  .github/workflows/ci.yml
  backend/.env.example
  backend/accounts/authentication.py
  backend/core/apps.py
  backend/core/middleware.py
  backend/core/robots_view.py
  backend/core/settings.py
  backend/core/sitemaps.py
  backend/core/urls.py
  backend/promotions/__init__.py
  backend/promotions/admin.py
  backend/promotions/apps.py
  backend/promotions/migrations/0001_initial.py
  backend/promotions/migrations/__init__.py
  backend/promotions/models.py
  backend/promotions/serializers.py
  backend/promotions/tests/__init__.py
  backend/promotions/tests/test_models.py
  backend/promotions/urls.py
  backend/promotions/views.py
  backend/requirements.txt
  frontend-vite/.env.example
  frontend-vite/.husky/pre-commit
  frontend-vite/.prettierignore
  frontend-vite/.prettierrc.json
  frontend-vite/eslint.config.js
  frontend-vite/package.json
  frontend-vite/src/components/EmptyState.jsx
  frontend-vite/src/components/Layout.jsx
  frontend-vite/src/components/Skeleton.jsx
  frontend-vite/src/hooks/__tests__/useDebounce.test.js
  frontend-vite/src/hooks/useDebounce.js
  frontend-vite/src/main.jsx
  frontend-vite/src/pages/Categories.jsx
  frontend-vite/src/pages/Orders.jsx
  frontend-vite/src/pages/Products.jsx
  frontend-vite/src/services/api.js
  frontend-vite/src/stores/themeStore.js
  frontend-vite/src/test/setup.js
  frontend-vite/vitest.config.js
Due: django-check, django-check-migrations

TypeScript міграція: інфраструктура повністю в TS, pages — allowJs
  frontend-vite/index.html
  frontend-vite/src/App.tsx
  frontend-vite/src/components/ConfirmModal.tsx
  frontend-vite/src/components/EmptyState.tsx
  frontend-vite/src/components/Skeleton.tsx
  frontend-vite/src/hooks/__tests__/useDebounce.test.ts
  frontend-vite/src/hooks/useDebounce.ts
  frontend-vite/src/hooks/useFormModal.js
  frontend-vite/src/hooks/useFormModal.ts
  frontend-vite/src/main.tsx
  frontend-vite/src/schemas/index.ts
  frontend-vite/src/services/api.ts
  frontend-vite/src/services/logger.ts
  frontend-vite/src/services/sanitize.ts
  frontend-vite/src/stores/authStore.js
  frontend-vite/src/stores/authStore.ts
  frontend-vite/src/stores/themeStore.ts
  frontend-vite/src/stores/warehouseStore.js
  frontend-vite/src/stores/warehouseStore.ts
  frontend-vite/src/test/setup.ts
  frontend-vite/src/types/models.ts
  frontend-vite/src/vite-env.d.ts
  frontend-vite/tsconfig.app.json
  frontend-vite/vitest.config.js
Due: none

TypeScript покращення: domain types, zodResolver fix, strict-режим
  frontend-vite/package.json
  frontend-vite/src/components/BarcodeScanner.tsx
  frontend-vite/src/components/CategoryModal.tsx
  frontend-vite/src/components/CheckoutModal.tsx
  frontend-vite/src/components/PriceListModal.tsx
  frontend-vite/src/components/ProductModal.tsx
  frontend-vite/src/hooks/useFormModal.ts
  frontend-vite/src/schemas/index.ts
  frontend-vite/src/stores/authStore.ts
  frontend-vite/src/stores/warehouseStore.ts
  frontend-vite/src/types/models.ts
  frontend-vite/tsconfig.app.json
  frontend-vite/tsconfig.strict.json
Due: none

TS strict-режим компілюється: pages/components з @ts-nocheck (TODO)
  frontend-vite/src/components/BarcodeScanner.tsx
  frontend-vite/src/components/CheckoutModal.tsx
  frontend-vite/src/components/Layout.tsx
  frontend-vite/src/components/PriceListItemsModal.tsx
  frontend-vite/src/components/PriceListModal.tsx
  frontend-vite/src/components/ProductModal.tsx
  frontend-vite/src/components/ShoppingCart.tsx
  frontend-vite/src/pages/Categories.tsx
  frontend-vite/src/pages/InstagramPage.tsx
  frontend-vite/src/pages/Orders.tsx
  frontend-vite/src/pages/Payments.tsx
  frontend-vite/src/pages/PriceLists.tsx
  frontend-vite/src/pages/ProductDetail.tsx
  frontend-vite/src/pages/Products.tsx
  frontend-vite/src/pages/Profile.tsx
  frontend-vite/src/pages/StoreDetails.tsx
  frontend-vite/src/pages/Stores.tsx
  frontend-vite/src/pages/SubscriptionsPage.tsx
  frontend-vite/src/pages/Warehouse/InventoryManagement.tsx
  frontend-vite/src/pages/Warehouse/InventoryScanner.tsx
  frontend-vite/src/pages/Warehouse/ScannerDemo.tsx
  frontend-vite/src/pages/Warehouse/StockBatches.tsx
  frontend-vite/src/pages/Warehouse/Suppliers.tsx
  frontend-vite/src/pages/Warehouse/SupplyManagement.tsx
  frontend-vite/src/pages/Warehouse/WarehouseDashboard.tsx
  frontend-vite/src/pages/Warehouse/WarehouseManagement.tsx
  frontend-vite/src/pages/auth/Login.tsx
  frontend-vite/src/pages/auth/Register.tsx
  frontend-vite/src/pages/dashboard/Dashboard.tsx
  frontend-vite/src/pages/public/Landing.tsx
  frontend-vite/src/pages/public/PublicStore.tsx
  frontend-vite/src/pages/public/PublicStoresList.tsx
  frontend-vite/src/services/errors.ts
  frontend-vite/tsconfig.app.json
Due: none

TS strict: прибрано @ts-nocheck з 9 ключових pages
  frontend-vite/src/pages/Categories.tsx
  frontend-vite/src/pages/Orders.tsx
  frontend-vite/src/pages/Payments.tsx
  frontend-vite/src/pages/PriceLists.tsx
  frontend-vite/src/pages/Stores.tsx
  frontend-vite/src/pages/auth/Login.tsx
  frontend-vite/src/pages/auth/Register.tsx
  frontend-vite/src/pages/dashboard/Dashboard.tsx
  frontend-vite/src/pages/public/PublicStore.tsx
Due: none

TS strict: прибрано @ts-nocheck з ще 6 pages
  frontend-vite/src/pages/ProductDetail.tsx
  frontend-vite/src/pages/Profile.tsx
  frontend-vite/src/pages/StoreDetails.tsx
  frontend-vite/src/pages/SubscriptionsPage.tsx
  frontend-vite/src/pages/Warehouse/ScannerDemo.tsx
  frontend-vite/src/pages/public/Landing.tsx
  frontend-vite/src/types/models.ts
Due: none

TS strict: прибрано @ts-nocheck з решти 17 файлів — 0 залишилось
  frontend-vite/src/components/BarcodeScanner.tsx
  frontend-vite/src/components/CheckoutModal.tsx
  frontend-vite/src/components/Layout.tsx
  frontend-vite/src/components/PriceListItemsModal.tsx
  frontend-vite/src/components/PriceListModal.tsx
  frontend-vite/src/components/ProductModal.tsx
  frontend-vite/src/components/ShoppingCart.tsx
  frontend-vite/src/pages/InstagramPage.tsx
  frontend-vite/src/pages/Products.tsx
  frontend-vite/src/pages/Warehouse/InventoryManagement.tsx
  frontend-vite/src/pages/Warehouse/InventoryScanner.tsx
  frontend-vite/src/pages/Warehouse/StockBatches.tsx
  frontend-vite/src/pages/Warehouse/Suppliers.tsx
  frontend-vite/src/pages/Warehouse/SupplyManagement.tsx
  frontend-vite/src/pages/Warehouse/WarehouseDashboard.tsx
  frontend-vite/src/pages/Warehouse/WarehouseManagement.tsx
  frontend-vite/src/pages/public/PublicStoresList.tsx
Due: none

Path conditions:
  django-check: any of: ^backend/(.*\.py|requirements\.txt)$
  django-check-migrations: any of: ^backend/.*/(models\.py|migrations/.*)$
